:root{
    --white : #ffffff;
    --grey : #808080;
    --black: #000;
    --red: #FF005D;
}


///------------------------------------------- helper classes ---------



*,*::after,*::before{
    //border: 1px solid red;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
}





///--------------------------------------------main css-------------


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--black);
}

// h1{
//     text-align: center;
// }

// .container{
//     width: 360px;
//     display: flex;
//     flex-direction: column;

// }



.container{
    background: var(--white);
    height: auto;
    width:70% ;
    padding: 20px;
    border-radius: 5px;

    .title{
        color: var(--white);
        background: var(--black);
        width: 100%;
        margin: 0px 0px 20px 0px;
        text-align: center;
        border-radius: 5px;

    }
    .input_section{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input{
            padding: 10px 30px ;
            width: 80%;
            border: 3px solid var(--black);
            border-radius: 5px;
            font-size: 1rem;
        }
        button{
            background: var(--black);
            color:var(--white);
            height: calc(1ch + 37px);
            font-size: 1rem;
            border-radius: 5px;
            padding: 0px 20px;
            border: none;
        }

    }
    .list{
        height: 50vh;
        overflow-y: scroll;
        margin-top: 30px;

        p{
            margin: 5px 10px;
            padding: 10px 10px;
            border: 2px solid var(--white);
            &:hover{
                background: rgba(0, 0, 0, 0.089);
                border-radius: 5px;
                transform: scale(1.01);
                border: 2px solid var(--grey);
            }
        }

        .striked{
            text-decoration: line-through;
            color: rgba(24, 24, 24, 0.568);
        }
    }
}

@media only screen and (max-width: 1000px) {
    .container {
      width: 95%;
    }
  }

